<div class="container-fluid d-flex justify-content-center align-items-center py-3 px-0 m-0">
  <form [formGroup]="form" (ngSubmit)="onSubmit()"
    class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-start align-items-stretch">
    <h1 class="h1 mb-3">Register</h1>
    <!-- Email Address -->
    <div class="form-group m-0">
      Email Address<span class="text-danger">*</span>
      <input tabindex="1" type="text" formControlName="email" class="form-control"
        [class.border-danger]="requiredEmail || invalidEmailFormat || emailTaken">
      <div class="d-flex justify-content-end">
        <span>&#8203;</span>
        <span *ngIf="invalidEmailFormat && !requiredEmail" class="text-danger">Invalid Email Format</span>
        <span *ngIf="emailTaken && !requiredEmail" class="text-danger">This email is already in use.</span>
        <span *ngIf="requiredEmail" class="text-danger">This field is required</span>
      </div>
    </div>
    <!-- Display Name -->
    <div class="form-group m-0">
      Display Name<span class="text-danger">*</span>
      <input tabindex="2" type="text" formControlName="displayName" class="form-control"
        [class.border-danger]="requiredDisplayName">
      <div class="d-flex justify-content-end">
        <span>&#8203;</span>
        <span *ngIf="requiredDisplayName" class="text-danger">This field is required</span>
      </div>
    </div>
    <!-- Username -->
    <div class="form-group m-0">
      Username<span class="text-danger">*</span>
      <input tabindex="3" type="text" formControlName="username" class="form-control"
        [class.border-danger]="requiredUsername || takenUsername">
      <div class="d-flex justify-content-end">
        <span>&#8203;</span>
        <span *ngIf="takenUsername && !requiredUsername" class="text-danger">The username '{{ form.get("username").value
          }}'
          has been taken.</span>
        <span *ngIf="requiredUsername" class="text-danger">This field is required</span>
      </div>
    </div>
    <!-- Password -->
    <div class="form-group m-0">
      Password<span class="text-danger">*</span>
      <div class="input-group">
        <input tabindex="4" [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control"
          [class.border-danger]="invalidPasswordInput">
        <div class="input-group-append">
          <button type="button" class="input-group-text btn btn-light" (mousedown)="toggleShowPassword(true)"
            (mouseleave)="toggleShowPassword(false)" (mouseup)="toggleShowPassword(false)"
            [class.border-danger]="invalidPasswordInput">
            <i class="fa-solid fa-eye text-primary"></i>
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <span>&#8203;</span>
        <span *ngIf="invalidPasswordInput" class="text-danger">This field is required</span>
      </div>
    </div>
    <!-- Confirm Password -->
    <div class="form-group m-0">
      Confirm Password<span class="text-danger">*</span>
      <div class="input-group">
        <input tabindex="5" [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
          class="form-control" [class.border-danger]="requiredConfirmPassword || passwordsDoNotMatch">
        <div class="input-group-append">
          <button type="button" class="input-group-text btn btn-light" (mousedown)="toggleShowConfirmPassword(true)"
            (mouseleave)="toggleShowConfirmPassword(false)" (mouseup)="toggleShowConfirmPassword(false)"
            [class.border-danger]="requiredConfirmPassword || passwordsDoNotMatch">
            <i class="fa-solid fa-eye text-primary"></i>
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <span>&#8203;</span>
        <span *ngIf="passwordsDoNotMatch && !requiredConfirmPassword" class="text-danger">Passwords do not match.</span>
        <span *ngIf="requiredConfirmPassword" class="text-danger">This field is required</span>
      </div>
    </div>
    <button type="submit" class="btn btn-dark justify-self-end text-uppercase font-weight-bold mb-3" tabindex="6"
      [disabled]="form.invalid || submitting || form.pending">Create Account</button>
    <p class="m-0 text-left">Already have an account? <a [routerLink]="['/auth', 'login']" class="text-primary">Login
        Here</a></p>
  </form>
</div>