<section class="offset-lg-2 col-12 col-lg-8 px-4 pt-2 p-lg-0">
  <div class="d-flex justify-content-between align-items-center py-3 py-lg-2">
    <blog-crumbs [data]="crumbs"></blog-crumbs>
    <a [routerLink]="['/blog', 'new']" class="btn btn-outline-dark"><i class="fa-solid fa-add mr-2"></i>Create Post</a>
  </div>
  <div class="row p-0">
    <ng-container *ngFor="let blog of blogs$ | async">
      <div class="col-12">
        <blog-item [blog]="blog" [titleLength]="maxTitleLength | async"></blog-item>
      </div>
    </ng-container>
  </div>
</section>