<div class="container-fluid px-0 pb-4" *ngIf="!isPreviewMode; else preview">
  <div class="container">
    <div class="py-2">
      <blog-crumbs [data]="crumbs"></blog-crumbs>
    </div>
    <form [formGroup]="form">
      <h1 *ngIf="mode === 'create'">Create a new Blog</h1>
      <h1 *ngIf="mode === 'editDraft'">Edit Draft</h1>
      <h1 *ngIf="mode === 'editBlog'">Edit Blog</h1>
      <div class="form-group m-0">
        Blog Title<span class="text-danger">*</span>
        <input type="text" formControlName="title" class="form-control"
          [class.border-danger]="requiredTitle || titleMaxLength">
        <div class="d-flex justify-content-end">
          <span>&#8203;</span>
          <span *ngIf="requiredTitle" class="text-danger">This field is required</span>
          <span *ngIf="titleMaxLength" class="text-danger">Exceeded maximum length for title</span>
        </div>
      </div>
      <div class="form-group m-0">
        Cover Image
        <input type="text" formControlName="imgContentUrl" class="form-control" [class.border-danger]="invalidImageUrl"
          placeholder="Enter Valid Image URL">
        <div class="d-flex justify-content-end">
          <span>&#8203;</span>
          <span *ngIf="invalidImageUrl" class="text-danger">Invalid Image URL.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-start align-items-center">
          <p class="m-0 mr-2">
            Blog Content<span class="text-danger">*</span>
          </p>
          <button class="help-icon" (click)="showHelpModal()">
            <i class="fa-solid fa-question"></i>
          </button>
        </div>
        <textarea formControlName="content" class="form-control" rows="10" [class.border-danger]="requiredContent">
        </textarea>
        <div class="d-flex justify-content-end">
          <span>&#8203;</span>
          <span *ngIf="requiredContent" class="text-danger">This field is required</span>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button (click)="onDiscard()" class="btn btn-danger mr-2" type="button">Discard {{ mode === 'create' ?
          '' :
          'Changes'
          }}</button>
        <button [disabled]="form.invalid" class="btn btn-outline-dark mr-2" type="button" (click)="showPreview()">Show
          Preview</button>
        <ng-container *ngIf="['create', 'editDraft'].includes(mode); else editBlog">
          <button [disabled]="form.invalid" (click)="onSubmit('DRAFT')" class="btn btn-outline-dark mr-2"
            type="button">Save As Draft</button>
          <button [disabled]="form.invalid" (click)="onSubmit('CREATE')" class="btn btn-dark" type="submit">Create
            Blog</button>
        </ng-container>
        <ng-template #editBlog>
          <button [disabled]="form.invalid" (click)="onSubmit('EDIT')" class="btn btn-dark" type="submit">Update
            Blog</button>
          <button *ngIf="blogCopy.approvalStatus === 'rejected'" [disabled]="form.invalid" (click)="updateAndSubmit()" class="btn btn-dark ml-2" type="submit">Update and Submit</button>
        </ng-template>
      </div>
    </form>
    <!-- {{form.value | json}} -->
  </div>
</div>
<ng-template #preview>
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
      <button class="btn btn-danger navbar-brand" (click)="closePreview()">
        <i class="fa-solid fa-times mr-2"></i>
        Exit Preview Mode
      </button>
    </nav>
    <blog-viewer [blog$]="blogPreview"></blog-viewer>
  </div>
</ng-template>
<blog-content-help [modalId]="helpModalId"></blog-content-help>