<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <p class="navbar-brand m-0" href="#">My Blog</p>
    <div class="d-none d-lg-block w-100"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link d-flex justify-content-start justify-content-lg-center align-items-center m-0"
            style="cursor: pointer;" (click)="logout()">
            <i class="fa-solid fa-power-off mr-2"></i>
            <span style="padding-bottom: 2px;">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>